@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation {
  padding-bottom: 6px;
  overflow: hidden;
}

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

/* .css-1wy0on6 {
  display: none !important;
} */

.css-1wy0on6 {
  display: flex !important;
}

.css-1xc3v61-indicatorContainer {
  display: none !important;
}

/* Add this to your global CSS */
:root {
  --toastify-z-index: 9999;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  height: 0px;
  width: 0px;
}

.modal-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.phone-input-wrapper input:focus {
  border: none;
  background: none;
  outline: none;
}
